{% extends 'base.html' %}

{% block title %}Polls{% endblock %}

{% block content %}
<div class="btn-group">
    <a href="{% url 'polls:all' %}" class="btn btn-info">Show All Results</a>
</div>
<p></p>

<table class="table">
    <thead>
        <tr>
            <th scopoe="col">#</th>
            <th scopoe="col">Question</th>
        </tr>
    </thead>

    <tbody>
    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><li type="none"><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a></li></td>
                </tr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    </tbody>
</table>
{% endblock %}